{% extends "base.html" %}

{% block title %}Flasky -  Home {% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Olá mundo!</h1>
    </div>
    <div>
        <p>A hora local é: {{ moment(current_time).format('LLL') }}.</p>
        <p>Isso foi {{ moment(current_time).fromNow(refresh=True) }}.</p>
    </div>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name(id='my-text-field') }}
        {{ form.submit() }}
    </form>
{% endblock %}
